<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
        <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication"/>
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
          <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="Everywhere" />
          <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication" />
          <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication" />
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
    <section name="rewriter" 
              requirePermission="false" 
              type="Intelligencia.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, Intelligencia.UrlRewriter" />

  </configSections>
  <appSettings>
   
  </appSettings>
  <connectionStrings>
    <add name="strConnection" connectionString="Database=SoftStore;Server=lequangthien\sql2008express;Uid=sa;Pwd=tsv; pooling=false"/>
    <!--<add name="strConnection" connectionString="Database=sstorevn_webdatabase;Server=123.30.187.3;Uid=sstorevn_ndk;Pwd=khanh; pooling=false"/>-->
  </connectionStrings>

  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <sessionState timeout="90" />
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add assembly="System.Web.Extensions.Design, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpHandlers>
      <remove verb="*" path="*.asmx"/>
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <add verb="GET" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
      <add verb="GET" path="CaptchaImage.aspx" type="WebControlCaptcha.CaptchaImageHandler, WebControlCaptcha"/>
    </httpHandlers>
    <httpModules>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule, Intelligencia.UrlRewriter" />

    </httpModules>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <customErrors mode="Off"></customErrors>
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->

    <pages validateRequest="false" enableEventValidation="false">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" tagPrefix="ajaxToolkit"/>
      </controls>
    </pages>

  </system.web>
  <rewriter>

    <rewrite url="~/tag/(.+).html" to="~/default.aspx?n=tags&amp;tag=$1" processing="stop" />

    <rewrite url="~/chi-tiet-sp/(.+)/(.+).html" to="~/default.aspx?n=product_detail&amp;id=$1" processing="stop" />
    <rewrite url="~/phan-mem/(.+)/(.+).html" to="~/default.aspx?n=products&amp;ProductCategoryID=$1" processing="stop" />
    
    <rewrite url="~/tin-tuc/(.+)/(.+).html" to="~/default.aspx?n=news&amp;id=$1" processing="stop" />

    <rewrite url="~/trang-chu.html" to="~/default.aspx" processing="stop" />
    <rewrite url="~/gioi-thieu.html" to="~/default.aspx?n=introduction" processing="stop" />
    <rewrite url="~/tin-tuc.html" to="~/default.aspx?n=news" processing="stop" />
    <rewrite url="~/lien-he.html" to="~/default.aspx?n=contact" processing="stop" />
    <rewrite url="~/san-pham.html" to="~/default.aspx?n=products" processing="stop" />
    <rewrite url="~/khuyen-mai.html" to="~/default.aspx?n=product_promotion" processing="stop" />
    <rewrite url="~/dang-ky.html" to="~/default.aspx?n=register" processing="stop" />
    <rewrite url="~/quen-mat-khau.html" to="~/default.aspx?n=forgot_password" processing="stop" />
    <rewrite url="~/thong-tin-ca-nhan.html" to="~/default.aspx?n=edit_profile" processing="stop" />
    <rewrite url="~/doi-mat-khau.html" to="~/default.aspx?n=change_password" processing="stop" />
    <rewrite url="~/dang-nhap.html" to="~/default.aspx?n=login" processing="stop" />
    <rewrite url="~/giup-do.html" to="~/default.aspx?n=help" processing="stop" />
    <rewrite url="~/gio-hang/(.+)-(.+)-(.+)-(.+).html" to="~/default.aspx?n=shoppingcart&amp;productid=$1&amp;price=$2&amp;sl=$3&amp;pk=$4" processing="stop" />
    <rewrite url="~/gio-hang.html" to="~/default.aspx?n=shoppingcart" processing="stop" />
    <rewrite url="~/thanh-toan/step-(.+).html" to="~/default.aspx?n=paymentcart&amp;step=$1" processing="stop" />
    <rewrite url="~/thanh-toan.html" to="~/default.aspx?n=paymentcart" processing="stop" />
    <rewrite url="~/yeu-cau-phan-mem.html" to="~/default.aspx?n=request" processing="stop" />
    <rewrite url="~/goi-doanh-nghiep.html" to="~/default.aspx?n=bussiness_package" processing="stop" />

</rewriter>

  <system.web.extensions>
    <scripting>
      <webServices>
        <!-- Uncomment this line to customize maxJsonLength and add a custom converter -->
        <!--
        -->
        <!--
      <jsonSerialization maxJsonLength="500">
        <converters>
          <add name="ConvertMe" type="Acme.SubAcme.ConvertMeTypeConverter"/>
        </converters>
      </jsonSerialization>
      -->
        <!--
        -->
        <!-- Uncomment this line to enable the authentication service. Include requireSSL="true" if appropriate. -->
        <!--
        -->
        <!--
        <authenticationService enabled="true" requireSSL = "true|false"/>
      -->
        <!--
        -->
        <!-- Uncomment these lines to enable the profile service. To allow profile properties to be retrieved
           and modified in ASP.NET AJAX applications, you need to add each property name to the readAccessProperties and
           writeAccessProperties attributes. -->

        <!--<profileService enabled="true"
                      readAccessProperties="propertyname1,propertyname2"
                      writeAccessProperties="propertyname1,propertyname2" />-->

      </webServices>

      <!--<scriptResourceHandler enableCompression="true" enableCaching="true" />-->

    </scripting>
  </system.web.extensions>
  <system.webServer>
   
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <add name="ScriptModule" preCondition="integratedMode" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule" />
    </modules>
    <handlers>
      <remove name="WebServiceHandlerFactory-Integrated"/>
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </handlers>
    

  </system.webServer>
</configuration>

