body {
	font-family: "Segoe UI", Arial, Verdana , Helvetica,Arial,Verdana,sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #666;
	text-decoration: none;
	background-color:#e2fcff;
	/*background-color: #f6f6f6;*/	
	background-image: url(/images/bg.png);
	background-repeat: repeat-x;
	letter-spacing: normal;
	word-spacing: normal;
}

h1, h2, h3 {
	margin-top: 0px;
	font-weight: normal;
	color: #FFFFFF;
}

h1 {
	font-size: 2.4em;
}

h2 {
	font-size: 1.8em;
}

h3 {
	font-size: 1.4em;
}

p, ol, ul {
	margin-bottom: 1.8em;
	line-height: 160%;
}

a {
	color: #777575;
}

a:hover {
	text-decoration: none;
	color: #ffb002;
}

a img {
	border: none;
}

#wrapper {
	margin: 0 auto;
	width: 1024px;
	position:relative;
}

/* Header */
#header {
	height:70px;
	margin-bottom:10px;
}

#header a {
	text-decoration: none;
}

/* Logo */

#logo {
	float: left;
	background:url(/images/logo.png) no-repeat;
	width:120px;
	height:60px;
	margin-top:10px;
}
#logo2 {
	float: left;
	background:url(/images/logo2.png) no-repeat;
	width:123px;
	height:65px;
	margin:35px;
	margin-right:0px;
}
/*The right box behide logo*/
#search {
	width:280px;
}
#header-right {
	width:790px;
	position:relative;
	float:left;
	margin-top:18px;
	margin-left:30px;
	padding-top:5px;
}
.support{
	float:left;
	position:relative;
}
.yahoo-active{
	background:url(/images/yahoo-active.png) no-repeat left center;
	height:30px;
	padding-left:35px;
}
.yahoo{
	background:url(/images/yahoo-icon.png) no-repeat left center;
	height:30px;
	padding-left:35px;
}
.skype{
	background:url(/images/skype.png) no-repeat left center;
	height:30px;
	padding-left:35px;
}
.facebook{
	background:url(/images/facebook.png) no-repeat left center;
	height:30px;
	padding-left:35px;
}
.twitter{
	background:url(/images/twitter.png) no-repeat left center;
	height:30px;
	padding-left:35px;
}


#search input{
	font-size:11px;
	width:220px;
	border:none;
	height:16px;
	border:solid 1px #CCC;
	padding-top:4px;
	padding-left:5px;
	padding-right:25px;
	/*background:url(/images/search-bg.png) no-repeat top left;*/
}
#search #search-button{
	width:24px;
	height:20px;
	background:url(/images/search-button.png) no-repeat top left;
	float:left;
	position:inherit;
	border:none;
	margin-left:-20px;
	margin-top:4px;
}
#search #search-button:hover{
	width:24px;
	height:20px;
	background:url(/images/search-button-hover.png) no-repeat top left;
	float:left;
	position:inherit;
	border:none;
	margin-left:-20px;
	margin-top:4px;
	cursor:pointer;
}

#filter {
	width:200px;
}
#filter input{
	font-size:11px;
	width:80px;
	border:none;
	height:16px;
	border:solid 1px #e9e8e8;
	padding-top:2px;
	padding-left:5px;
	padding-right:25px;
}
/* Menu */

#menu {
	height: 38px;
	float:left;
	width:106%;
	margin-left:4px;
	margin-bottom:15px;
	position:relative;
	margin-top:-20px;
	z-index:1;
}

#menu ul {
	list-style-type: none;
	line-height: normal;
	position:relative;
	z-index:1;
}
#menu li {
	float: left;
	cursor:pointer;
	z-index:1;
}
#menu .main-nav{
	text-decoration:none;
	color:#FFF;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	/*text-shadow: 1px 1px 1px #444;*/
	display: block;
	width: auto;
	padding-top: 11px;
}
.drop-down-menu {
	margin-left:-41px;
	text-align:left;
	margin-top:-1px;
}
.drop-down-menu li{
	line-height:25px;
	background:url(/images/menu-dropdown.png) repeat-y left;
	width:160px;
	list-style:none outside none;
	margin:0;
	overflow:hidden;
	text-align:left;
	padding:0;
}
.drop-down-menu li a {
	text-decoration:none;
	color:#fff;
	margin-left:10px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
}
.drop-down-menu li a:hover {
	color:#00aae2;
}
#menu .home,.home:hover,.home-active,.menu-c,.menu-c-active,.menu-r,.menu-r:hover,.menu-r-active {
	text-align:center;
	height:38px;
}
#menu .home {
	width:111px;
	background:url(/images/menu-home.png) no-repeat;
	margin-left:-42px;
}
#menu .home:hover {
	width:111px;
	background:url(/images/menu-home.png) no-repeat bottom center;
	margin-left:-42px;
}
#menu .home-active {
	width:111px;
	background:url(/images/menu-home.png) no-repeat bottom center;
	margin-left:-42px;
}
#menu .menu-c {
	width:140px;
	background:url(/images/menu-center.png) no-repeat top center;
}
#menu .menu-c-active {
	width:140px;
	background:url(/images/menu-center.png) no-repeat bottom center;
}
#menu .menu-c:hover {
	width:140px;
	background:url(/images/menu-center.png) no-repeat bottom center;
}
#menu .menu-r{
	width:140px;
	background:url(/images/menu-right.png) no-repeat top left;
}
#menu .menu-r:hover {
	width:140px;
	background:url(/images/menu-right.png) no-repeat bottom left;
}
#menu .menu-r-active {
	width:140px;
	background:url(/images/menu-right.png) no-repeat bottom left;	 
}
/* Page */

#page {
	width: 937px;
	/*background: #FFFFFF;*/
	float:left;
	margin-left:3px;
	margin-top:6px;
	position:inherit;
}

#header-pic {
	background: url(/images/slideshow.jpg) no-repeat left top;
	width: 900px;
	height: 210px;
}

/* Content */

#content {
	float: right;
	width: 690px;
	background:#fff;
}
#product-title{
	color:#00aae2;
	font-size:16px;
	font-weight:bold;
	margin:15px 20px;
	font-family:Arial, Helvetica, sans-serif;
}
/* Sidebar */

#sidebar {
	float: left;
	width: 220px;
	margin-top:-2px;
}
#sidebar .titleleft {
	background:url(/images/sidebar-header-bg2.png) repeat-x;
	padding: 6px 15px;
	font-size: 11px;
	color:#005c7a;
	font-weight:bolder;
	text-shadow: 1px 1px #fff;
	height:20px;
	border-bottom: 1px solid #dadada;
}
#sidebar-content {
}

#sidebar ul {
	padding: 0px 0 5px 0;
	margin: 0px;
	list-style: none;
}
#sidebar-bgbtm li li {
	margin-left: 10px;
	margin-right: 20px;
	line-height: 30px;
	padding-left: 5px;
	color:#565656;
	font-weight:normal;
}

#sidebar-bgbtm li ul {
	list-style: none;
	padding:0px 0 20px;
	margin-top:-9px;
	margin-bottom:10px;
	font-size:12px;
	border: 1px solid #dadada;
	border-top:none;
	background-color: #fff;
	/*border-radius: 0px 0px 4px 4px;*/
}

#sidebar-bgbtm h2 {
	background:url(/images/sidebar-header-bg2.png) repeat-x;
	padding: 6px 15px;
	font-size: 11px;
	color:#005c7a;
	font-weight:bolder;
	text-shadow: 1px 1px #fff;
	height:20px;
	border: 1px solid #dadada;
}
#sidebar a {
	text-decoration: none;
}

#sidebar a:hover {
	text-decoration: none;
	color:#00aae2;
}
#sidebar a.active{
	color:#00aae2;
}
/* Search */

#search form {
	margin-bottom: 1.8em;
	padding: 0px;
}

#search fieldset {
	margin-left: 20px;
	padding: 0px;
	border: none;
}

#search #s {
	width: 160px;
}

/* Footer */

#footer {
	clear: both;
	width: 940px;
	height: 173px;
	color: #FFFFFF;
	background:url(/images/frame-b-bg.png) repeat-x left bottom;
	background-color:#fff;
	position:relative;
	margin:-1px -5px -4px -5px;
	padding-top:5px;
	z-index:1000;
}
#footer-bottom{
	clear:both;
	width:920px;
	height:20px;
	float:left;
	position:relative; 
	border-top: 1px #d9dadb solid;
	padding:10px 0px 0px 5px;
	vertical-align:middle;
	color:#666;
	font-size:10px;
}

#footer ul li b{
	color:#666;
	line-height:normal;
}
#footer ul{
	text-decoration:none;
	margin:0px;
	margin-bottom:5px;
	line-height:21px;
}
#footer ul li a {
	text-decoration:none;
	margin-left:15px;
	background:url(/images/arrow-icon.gif) no-repeat left center;
	padding-left:5px;
}
#footer ul li a:hover {
	color:#00aae2;
}
.container table{
	border:none;
	width:100%;
}

#frame-tl {
	background: url(/images/frame-tl.png) no-repeat bottom right;
	width:10px;
	height:9px;
}
#frame-tl-s {
	background: url(/images/frame-tl-s.png) no-repeat bottom right;
	width:10px;
	height:38px;
}
#frame-t {
	background: url(/images/frame-t.png) repeat-x bottom;
	height:9px;
}
#frame-t-s {
	background: url(/images/frame-t-s.png) repeat-x bottom;
	height:38px;
}
#frame-tr {
	background: url(/images/frame-tr.png) no-repeat bottom left;
	width:10px;
	height:9px;
}
/*Header top of frame with background: header*/
#frame-tr-s {
	background: url(/images/frame-tr-s.png) no-repeat bottom left;
	width:10px;
	height:38px;
}
#frame-r {
	background: url(/images/frame-r.png) repeat-y left;
	width:10px;
}
#frame-br {
	background: url(/images/frame-br.png) no-repeat top left;
	width:9px;
	height:9px;
}
#frame-b {
	background: url(/images/frame-b.png) repeat-x top;
	height:9px;
}
#frame-bl {
	background: url(/images/frame-bl.png) no-repeat top right;
	width:9px;
	height:9px;
}
#frame-l {
	background: url(/images/frame-l.png) repeat-y right;
	width:9px;
	height:100%;
}
#frame-content{
	/*background-color:#FFF;*/
	padding:0 33px 1px;
}
#hotline{
	/*background:url(/images/hotline-icon.gif) no-repeat;*/
	border:none;
	width:150px;
	float:left;
	color:#fc7e03;
	font-size:13px;
	margin-top:5px;
	font-weight:bold;
}
#topbar{
	font-size:11px;
	float:right;
	color:#018afe;
	padding-right:20px;
	margin-top:5px;
	width:400px;
	text-align:right;
}
#topbar a{
	font-size:11px;
	color:#565656;
	margin-left:15px;
}
#topbar a:hover{
	color:#00aae2;
}
/*start slideshow*/
.slideshow-table {
	 width:942px;
	 margin-left:2px;
}
#slideshow{
	float:left;
	background-color:#fff;
	width:100%;
	padding:20px 0;
	padding-top:0px;
}
#slideshow ul{
	list-style:none;
	padding:0;
	margin:0;
	line-height:normal;
}
#slideshow h4 {
	color:#00aae2;
	text-align:center;
}
.best-price{
	background:url(/images/best-price-icon.png) no-repeat left center;
	height:100px;
	width:100px;
	margin-top:-10px;
}
#slideshow ul li{
	float:left;
	display:inline;
	width:100px;
	height:100px;
	padding:7px;
	text-align:center;
	padding-top:20px;
}
#slideshow a div{
	margin-top:4px;
}
#slideshow img{
	width:60px;
	height:70px;
}
#slideshow a{
	text-decoration:none;
	color:#666;
	text-shadow:1px 1px 1px #fff;
	font-weight:bold;
}
#slideshow a:hover{
	color:#00aae2;
}

/*end slideshow*/
/*grid */
.grid #item {
	width:150px;
	height:170px;
	padding:15px;
}
.grid #item2 {
	width:160px;
	height:160px;
	padding:5px;
	text-align:center;
}
.grid #item2 .title{
	height:20px;
	margin:0px 0px 0px 7px;
}
.grid #item .title{
	height:20px;
}
.grid #item .title a{
	/*color:#0085CF;*/
	text-decoration:none;
	font-size:11px;
	font-weight:bold;
}
.grid #item2 .title a{
	color:#31a5ff;
	text-decoration:none;
	font-size:11px;
	font-weight:bold;
}
.grid #item .img img{
	width:80px;
	height:95px;
	padding:10px;
}
.grid #item2 .img img{
	width:80px;
	height:95px;
	padding:10px;
}
.grid #item .img{
	text-align:center;
}

.grid #v-line {
	width:1px;
	background-color:#d9dadb;
}
.grid #h-line {
	height:1px;
	background-color:#d9dadb;
}
.grid .h-line td {
	border-bottom: solid 1px #d9dadb;
}
.gird #item .text {
	height:30px;
	font-size:11px;
	margin: 5px 7px;
}
.grid #item .text div {
	margin: 5px 0px 0px 0px;
}
.grid  #item .text span{
	color:#00aae2;
	/*color:#999;*/
	margin:0px 3px 0px 3px;
}
.grid  #item .text #b{
	color:#999;
	width:80px;
}
/*Start frame bottom*/
.frame-bottom{
	width:691px;
	height:20px;
	background-color:#f4f4f4;
	background:url(/images/frame-b-bg.png) repeat-x bottom;
	float:left;
	position:relative; 
	text-align:right;
	margin:4px -5px -4px -6px; z-index:100;
	padding:5px;
	padding-top:9px;
	border-top: 1px #d9dadb solid;
}
.frame-bottom a{
	text-decoration:none;
	padding:5px;
	color:#333;
}
.frame-bottom a:hover{
	color:#ffb002;
}
.frame-bottom a.active{
	color:#999;
}

/*End frame bottom*/
/*Start frame top*/
.frame-top{
	width:691px;
	height:20px;
	background-color:#f4f4f4;
	background:url(/images/frame-b-bg.png) repeat-x bottom;
	float:left;
	position:relative; 
	text-align:left;
	margin:-4px -5px -0px -6px; z-index:100;
	padding:5px;
	padding-top:3px;
	border-bottom: 1px #d9dadb solid;
	z-index:0;
}
.frame-top a{
	text-decoration:none;
	padding:5px;
	color:#333;
}
.frame-top span{
	margin:0px 5px;
	color:#333;
}
.frame-top select{
	margin-top:1px;
	font-size:11px;
	border:none;
	background:none;
	border:1px solid #ccc;
}

.frame-top a:hover{
	color:#ffb002;
}
.frame-top a.active{
	color:#999;
}

/*End frame top*/
.sitemap {
	width:927px;
	padding:12px 5px 0px 5px;
	margin: 4px 4px;
	height:80px;
	background: url(/images/sitemap-bg.png) left center no-repeat;
}
.sitemap .arrow{
	background:url(/images/arrow-icon.gif) no-repeat left;
}
.sitemap a{
	text-decoration:none;
	padding:0 7px;
	font-weight:bold;
	color:#003f57;
}
.sitemap a:hover{
	color:orange;
}

.sitemap .active{
	color:#00aae2;
	background:url(/images/arrow-icon.gif) no-repeat left;
}
.carts {
	display:inline-block;
	float:right;
}
.carts a{
	background:url(/images/carts.png) no-repeat right;
	padding-right:25px;
	color:#00aae2;
}


/*End grid*/

/*detail product*/
.detail-img {
	width:250px;
	height:300px;
	float:left;
}

#content .link {
	text-decoration:none;
	font-style:oblique;
	color:#00aae2;
}
#content .text {
	line-height:28px;
	font-size:12px;
	padding-right:6px;
	margin-top:-10px;
}
#content .text select {
	color:#666;
	width:160px;
	margin-left:7px;
	padding-left:2px;
	text-align:center;
}
.bold {
	font-weight:bold;
	color:#4c4c4d;
	margin-top:4px;
}
.bold .promotion{
	font-size:16px;
	font-weight:bold;
	color:#00aae2;
	padding-right:2px;
}
.bold .price{
	font-size:13px;
	color:#fc7100;
	padding-right:2px;
}
.bold .low-price{
	font-size:11px;
	color:#00aae2;
	margin-left:2px;
}
.bold input {
	width:40px;
	border:solid 1px #999;
	color::#999;
	-moz-border-radius: 2px;
 -webkit-border-radius: 2px;
 border-radius: 2px 2px 2px 2px;
  height:18px;
  padding-left:3px;
  text-align:center;
}
.bold select{	
	border:solid 1px #999;
	color::#999;
	-moz-border-radius: 2px;
	 -webkit-border-radius: 2px;
	 border-radius: 2px 2px 2px 2px;
	 height:22px;
}
.yellow-button,.gray-button  {
	border:none;
	height:34px;
	width:98px;
	cursor:pointer;
	font-size:11px;
	text-align:center;
	vertical-align:middle;
	padding-bottom:4px;
	color:#fff;
	margin-left:30px;
	/*-moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #CCCCCC #999999 #999999 #CCCCCC;
    border-style: solid;
    border-width: 1px;*/
}
.yellow-button{
	background:url(/images/button.png) no-repeat bottom left;
}
.gray-button {
	background:url(/images/button.png) no-repeat top left;
}
.yellow-button:hover,.gray-button:hover {
	background:url(/images/button.png) no-repeat center left;
}
.product-info {
	margin: 0 8px 0px 12px;
}
a.italic {
	font-style:italic;
	color:#00aae2;
	font-size:11px;
}
.button-container ul {
	list-style:none;
}
.button-container ul li{
	display:inline;
	float:left;
	position:relative;
}
.same-product-item {
	/*border-bottom:solid 1px #b4ce4f;*/
	font-size:11px;
	line-height:17px;
	min-height:110px;
	padding-top:12px;
	vertical-align:middle;
	background:url(/images/v-line.png) left bottom no-repeat; 
}
.same-product-item img{
	width:80px;
	height:96px;
	float:left;
	margin-top:3px;
}
.same-product-item div.title a{
	color:#2f3860;
	font-weight:bold;
}
.same-product-item a.title::after{
	content: "..."; 
}
.same-product-item .price{
	color:#00aae2;
	font-weight:bold;
}
.same-product-item .link{
	float:right;
	background:url(/images/arrow-icon2.gif) no-repeat left center;
	padding:2px 8px;
	position:relative;
}
.same-product-item .link a{
	text-decoration:none;
	font-size:11px;
	color:#00aae2;
	margin-top:-1px;
}
.viewall {
	direction:rtl; font-size:10px; font-weight:bold;
}
ul.comment {
	list-style:none;
	margin:0;
}
ul.comment li{
	margin-left:-40px;
	padding: 15px;
	float:left;
}
.avatar{
	 overflow: hidden;
	 width: 60px;
	 float: left;
	 border:solid 1px #dcdcdc;
	 padding:3px;
}
.avatar img {
	width:60px;
	height:80px;
}
.tdborder {
	background: url(/images/tdborder.jpg) no-repeat scroll 0% 0%;
	width: 10px;
	height:auto;
	float:left;
	position:relative;
	margin:0 5px;
	
}
.comment-content {
	 background:url(/images/tdborder.jpg) left top no-repeat;
	 float:left;
	 position:relative;
	 margin-left:5px;
	 margin-bottom:10px;
}
.comment-content .frame {
	 border:solid 1px #f1f1f1;
	 background-color: #fafafa;
	 border-left:none;
	 padding:10px;
	 float:left;
	 position:relative;
	 margin-left:10px;
	  width:530px;
}
input.small-button {
	border:none;
	background:none;
	background:url(/images/small-button.png) no-repeat left top;
	width:100px;
	height:34px;
	font-size:10px;
	color:#00aae2;
	font-weight:bold;
	cursor:pointer;
	margin-bottom:5px;
}
.your-comment .comment-text {
	border:2px solid #d3dde2;
    border-radius: 4px 4px 4px 4px;
    font-size: 11px;
    height: 15px;
    line-height: 14px;
    padding: 6px 6px 5px;
	width:80%;
	margin-top:12px;
}
.datetime {
	margin-top:10px;
}

 h1 { 
            margin-bottom: 2px; 
}

#container {
	background-color: #fff;
	width: 580px;
	margin: 15px auto;
	padding: 50px;
}
        
        /* slider specific CSS */
.sliderGallery {
	background: url(http://static.jqueryfordesigners.com/demo//images/productbrowser_background_20070622.jpg) no-repeat;
	overflow: hidden;
	position: relative;
	padding: 10px;
	height: 160px;
	width: 560px;
}
        
.sliderGallery UL {
	position: absolute;
	list-style: none;
	overflow: none;
	white-space: nowrap;
	padding: 0;
	margin: 0;
}
        
.sliderGallery UL LI {
	display: inline;
}
        
.slider {
	width: 542px;
	height: 17px;
	margin-top: 140px;
	margin-left: 5px;
	padding: 1px;
	position: relative;
	background: url(http://static.jqueryfordesigners.com/demo//images/productbrowser_scrollbar_20070622.png) no-repeat;
}
        
.handle {
	position: absolute;
	cursor: move;
	height: 17px;
	width: 181px;
	top: 0;
	background: url(http://static.jqueryfordesigners.com/demo//images/productbrowser_scroller_20080115.png) no-repeat;
	z-index: 100;
}
        
.slider span {
	color: #bbb;
	font-size: 80%;
	cursor: pointer;
	position: absolute;
	z-index: 110;
	top: 3px;
}
        
.slider .slider-lbl1 {
	left: 50px;
}

.slider .slider-lbl2 {
	left: 107px;
}

.slider .slider-lbl3 {
	left: 156px;
}

.slider .slider-lbl4 {
	left: 280px;
}

.slider .slider-lbl5 {
	left: 455px;
}
#index-content {
	float:left;
	width: 925px;
	background:#fff;
}

/*Horizotal grid*/
.h-grid{
	width:100%;
	padding-top:30px;
}
.h-grid .item{
	height:140px;
	font-size:12px;
	border-bottom:1px solid #e7e7e7;
	padding:5px;
	width:670px;
	float:left;
}
.h-grid .item p{
	line-height:normal;
}
.h-grid .item .img{
	height:150px;
	float:left;
	position:relative;
	margin:5px;
}
.h-grid .item .img img{
	height:100px;
	margin-top:20px;
}
.h-grid .item .title{
	font-size:13px;
	color:#00aae2;
	font-weight:bold;
	text-decoration:none;
}
.h-grid .item .title:hover{
	color:orange;
}
.h-grid .item .intro{
	font-size:12px;
	padding-right:20px;
	
}
.h-grid .item h4{
	margin:10px 0px 4px 0px;
}
.small-icon {
	width:14px;
	margin-left:1px;
}

.sale {
	height:30px;
	background:url(/images/sale-icon.png) no-repeat left center;
	padding-left:35px;
	z-index:-1;
}
.sale-text {
	text-decoration:line-through;
}
/*New*/
ul#news li a{
	text-decoration:none;
	background:url(/images/arrow-icon.gif) no-repeat left center;
	padding-left:5px;
	font-size:11px;
}
.support-online{
	margin-left:-30px;
}
.support-online ul{
	list-style:none;
	white-space:nowrap;
}

.support-online ul li{
	display:inline;
	font-size:16px;
	font-weight:bold;
	text-shadow: 1px 1px 1px #fff; /* horizontal-offset vertical-offset 'blur' colour */
	-moz-text-shadow: 1px 1px 1px #fff;
  	-webkit-text-shadow: 1px 1px 1px #fff;
	color:#fcb200;
}
.support-online ul #call{
	background:url(/images/phone.png) left center no-repeat;
	padding:5px 33px;
}
#yahoo{
	background:url(/images/yahoo.png) left center no-repeat;
}
#gtalk{
	background:url(/images/google_talk.png) left center no-repeat;
}
#skype{
	background:url(/images/skype.png) left center no-repeat;
}
#facebook{
	background:url(/images/facebook.png) left center no-repeat;
}
#twitter{
	background:url(/images/twitter.png) left center no-repeat;
}
#yahoo,#gtalk,#skype,#facebook,#twitter{
	color:#fcb200;
	padding-left:25px;
}
#yahoo:hover,#gtalk:hover,#skype:hover{
	color:#00aae2;
}
#sitemap{
	background:url(/images/sitemap-icon.png) left center no-repeat;
	padding:20px;
}

/*
*********************************************
~ PAGINATOR
*********************************************
*/
.paginator2 {float:left}
* html .paginator2 {position: relative;}
.paginator2 a {
	display:inline;
	padding: 1px 5px;
	margin: 0 2px;
	line-height: 15px;
	border: 1px solid #d0d0d0;
	font-size:11px;
	font-weight: bold;
	background-color: #fff;
}
.paginator2 a:hover {background-color: #b2b2b2; border: 1px solid #b2b2b2; color: #3d3d3d;}
.paginator2 a.selected, .paginator2 a.active {background-color: #00adef; border: 1px solid #00adef; color: #fff;}


.table-style01 
{border:1px solid #edf0ee; 
border-collapse:collapse;
line-height:30px;
text-align:center}
.table-style01 td 
{border-right:1px solid #edf0ee;
border-bottom:1px solid #edf0ee;  
border-collapse:collapse; 
vertical-align:middle;
padding:0px 5px}
.table-style01 tr.bg td
{vertical-align:middle;
text-align:center;
font-weight:bold;
background-color:#01709e;
color:#FFFFFF;
line-height:25px}

input 
{
	font-family: "Segoe UI", Arial, Verdana , Helvetica,Arial,Verdana,sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #666;
}